body {
	 min-height:100%;
	 height:auto !important;
}

img {
	cursor : pointer;
	padding: 10px;
}
/* ここからモーダルウィンドウ用 */
.modal {
	background-color: #000000;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	opacity:0.8;
	z-index:999;
}

.photo {
	position: absolute;
	background: #FFFFFF;
	display: none;
	left: 50%;
	z-index:1000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
/* ここからモーダルウィンドウ用 */